@import "../../base/settings";

.text--theme{
  color: $color-primary;
}
.text--center{
  text-align: center;
}
.text--uppercase{
  text-transform: uppercase;
}
.text--head{
  font-family: $font-headline;
}

.text--sm{
  font-size: 0.9em;
}
.text--large{
  font-size: 1.5em;
  font-weight: 700;
}
.text--bold{
  font-weight: 500;
}