@import "../base/settings";
@import "../base/color";
@import "landing";
.menu{
  font-family: $font-headline;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1999999999;
  height: $menu-height;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background: #fff;
  box-shadow: 0 0 5px rgba(57,70,78,.2);
  & .menu__nav{
    position: relative;
    height: $menu-height;
    float: right;
    width: auto;
    display: table;
    @media (max-width: $grid-tablet-breakpoint - 1) {
      display: none;
    }
  }
  &__link{
    position: relative;
    height: $menu-height;
    min-width: 100px;
    display: inline-block;
    text-align: center;
    margin-left: 1em;
    float:left;
    font-size: 0.8em;
    & a{
      text-decoration: none;
      color: black;
      font-weight: bold;
      line-height: $menu-height;
    }
  }
  &__search{
    position: absolute;
    right: 1em;
    top: 0;

  }
  &__btn{
    position: absolute;
    top: 0px;
    right: 0px;
    height: $menu-height;
    width: $menu-height;
    cursor: pointer;
    display: none;
    line-height: $menu-height;
    text-align: center;
    & i{
      position: relative;
      vertical-align: middle;
    }
    @media (max-width: $grid-tablet-breakpoint - 1) {
      display: block;
    }
  }
  &__vertical{
    position: absolute;
    top:0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: $color-secondary;
    color: white;
    padding: 0;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.5s $animation-curve-fast-out-linear-in;
    & i{
      vertical-align: middle;
    }
    &.is_show{
      display: block;
      transform: translateX(0);
    }
    &__control{
      position: relative;
      width: 100%;
      height: 40px;
      background-color: lighten($color-secondary, 10%);
    }
    &__close{
      position: absolute;
      right: 0;
      top:0;
      height: 100%;
      width: 40px;
      text-align: center;
      line-height: 40px;
      background-color: lighten($color-secondary, 20%);
    }
    &__title{
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      font-weight: 700;
      line-height: 40px;
    }
    &__box{
      position: relative;
      width: 100%;
      height: auto;
    }
  }
  .logo-container{
    position: absolute;
    height: 100%;
    width: $menu-height;
  }
  .logo{
    position: relative;
    left:10px;
    top:5px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    & img{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
    }
  }
}