/*------------------------------------*\
    primary color
\*------------------------------------*/
$color-primary:#e45f4d;//#F8DA59 ;
$color-secondary: #191919;

$color-safe: #2ecc71;
$color-danger: #e74c3c;
$color-warning: #f1c40f;

$color-dashboard: #26519e;
$banner-background: #bdc3c7;