@import "../base/settings";
.container{
  position: relative;
  width: 100%;
  height: auto;
  padding: 0.5em;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 0 auto;
  align-items: stretch;
  &.no-padding{
    padding:0;
  }
  & .col-1-2{
    width: 100%;
    @media (min-width: $grid-desktop-breakpoint - 1){
      width: 50%;
    }
  }
  & .col-1-3{
    width: 100%;
    margin-bottom: 2em;
    @media (min-width: $grid-tablet-breakpoint){
      width: 50%;
    }
    @media (min-width: $grid-desktop-breakpoint - 1){
      width: 33.33%;
    }
    &.md{
      @media (max-width: $grid-desktop-breakpoint - 1){
        width: 100%;
      }
    }
  }
  & .col-2-3{
    width: 100%;
    @media (min-width: $grid-tablet-breakpoint - 1){
      width: 100%;
    }
    @media (min-width: $grid-desktop-breakpoint - 1){
      width: 66.57%;
    }
  }
  & .col-1-5{
    width: 100%;
    @media (min-width: $grid-tablet-breakpoint - 1){
      width: 50%;
    }
    @media (min-width: $grid-desktop-breakpoint - 1){
      width: 25%;
    }
  }
  & .col-1{
    width: 100%;
  }
}
.flex-row{
  position: relative;
  width: 100%;
  height: auto;
  padding: 0.5em;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.flex-column{
  position: relative;
  width: 100%;
  height: auto;
  padding: 0.5em;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.layout-container{
  position: relative;
  width: 100%;
  height: auto;
  padding: 0.5em;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 0 auto;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  flex-direction: row;

}