@import "../../base/settings";
.dashboard {
  position: relative;
  width: 100%;
  min-height: calc(80vh - 55px);
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;

  &-content {
    position: relative;
    width: calc(100% - 77px);
    min-height: calc(100vh - 55px);
    background-color: white;
    overflow: hidden;
    padding: 1em;
    display: inline-block;
    @media (max-width: $grid-tablet-breakpoint - 1){
      width: 100%;
      padding: 0.5em;
    }
    & .banner{
      position: relative;
      right: 0;
    }
    & a {
      color: $color-dashboard;
    }
  }
  &-nav {
    position: relative;
    width: 77px;
    height: 100vh;
    padding-top: 1em;
    display: inline-block;
    background-color: $color-dashboard;
    border-right: 1px solid $color-dashboard;
    @media (max-width: $grid-tablet-breakpoint - 1){
      display: none;
    }
    & .nav-icon{
      position: relative;
      width: 77px;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      &:hover{
        background-color: lighten($color-dashboard, 10%);
      }
      & img{
        position: relative;
        width: 40px;
        height: 40px;
      }
    }
  }
}