.accordion{
  position: relative;
  width: 100%;
  height: auto;
  display: table;
  background-color: transparentize(#c8d7e1, 0.5);
  &__header{
    position: relative;
    height: 60px;
    margin: auto;
    width: 100%;
    line-height: 60px;
    text-align: center;
    background-color: white;
  }
  &__content > div{
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    &:last-child{
      border-bottom: none;
    }
  }
}